# Parameters to run a Sample A vs Sample B comparison:

# Compulsory parameters:
Gene Name: 1
Sample A column: 2
Sample B column: 3

# The sequencing coverage is the number of total reads (observed counts) divided by the actual amount of fragments present in the PCR mix. While we have calculated it to be close to 300,000,000, you should calculate the sample coverages in your experiments and add in the the coverages. Otherwise, the program will calculate the coverage with the detected total reads over 300,000,000 per sample from the datatable file.
# If coverage is known:
Sample A Coverage: 0.25
Sample B Coverage: 0.01 

# If you which to change the alpha (see publication for more info) from its default 99%:
#Alpha: 95

# Set the fold cut-off for signifance. Default is 1.5
#Fold threshold: 2

